<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}" >
<head>
    <title>VAT rates in EU</title>
</head>
<body>

<div layout:fragment="content">

    <div class="card">
        <div class="card-body">

            <h3 class="text-center">VAT rates in EU</h3>
            <hr>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th><a href="?sort=id" title="sort by ID">ID</a></th>
                    <th><a href="?sort=name" title="sort by country name">country</a></th>
                    <th><a href="?sort=shortcutISO" title="sort by ISO shortcut">shortcut</a></th>
                    <th><a href="?sort=standardRate" title="sort by standard rate">standard rate</a></th>
                    <th><a href="?sort=reducedRate" title="sort by reduce rate">reduced rate</a></th>
                    <th><a href="?sort=reducedRateAlt" title="sort by reduce rate alt.">reduced rate alt.</a></th>
                    <th><a href="?sort=superReducedRate" title="sort by super reduced rate">super reduced rate</a></th>
                    <th><a href="?sort=parkingRate" title="sort by parking rate">parking rate</a></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="country : ${countryList}">
                    <td><span th:text="${country.id}">1</span></td>
                    <td><span th:text="${country.name}">Spain</span></td>
                    <td><span th:text="${country.shortcutISO} == ${country.shortcutEU} ? ${country.shortcutISO} : ${country.shortcutISO} + ', ' + ${country.shortcutEU}">ES</span></td>
                    <td><span th:text="${country.standardRate} + ' %'">10 %</span></td>
                    <td><span th:text="${country.reducedRate} ? ${country.reducedRate} + ' %' : '-'">10 %</span></td>
                    <td><span th:text="${country.reducedRateAlt} ? ${country.reducedRateAlt} + ' %' : '-'">10 %</span></td>
                    <td><span th:text="${country.superReducedRate} ? ${country.superReducedRate} + ' %' : '-'">10 %</span></td>
                    <td><span th:text="${country.parkingRate} ? ${country.parkingRate} + ' %' : '-'">10 %</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>