<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}" >
<head>

    <title>VAT rates in EU</title>

</head>
<body>

<div layout:fragment="content">

    <div class="card">
        <div class="card-body">

            <h3 class="text-center">VAT rates in EU</h3>

            <hr>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>country</th>
                    <th>shortcut</th>
                    <th>standard rate</th>
                    <th>reduced rate</th>
                    <th>reduced rate alt.</th>
                    <th>super reduced rate</th>
                    <th>parking rate</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="countryRates : ${rates}">
                    <td><span th:text="${countryRates.countryName}"> Spain </span></td>
                    <td><span th:text="${countryRates.shortcutISO} == ${countryRates.shortcutEU} ? ${countryRates.shortcutISO} : ${countryRates.shortcutISO} + ', ' + ${countryRates.shortcutEU}"> ES </span></td>
                    <td><span th:text="${countryRates.standardRate} + ' %'"> 10 % </span></td>
                    <td><span th:text="${countryRates.reducedRate} ? ${countryRates.reducedRate} + ' %' : '-'"> 10 % </span></td>
                    <td><span th:text="${countryRates.reducedRateAlt} ? ${countryRates.reducedRateAlt} + ' %' : '-'"> 10 % </span></td>
                    <td><span th:text="${countryRates.superReducedRate} ? ${countryRates.superReducedRate} + ' %' : '-'"> 10 % </span></td>
                    <td><span th:text="${countryRates.parkingRate} ? ${countryRates.parkingRate} + ' %' : '-'"> 10 % </span></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>